.footer-content{
  padding-left: 20%;
  padding-right: 15%;
  padding-top: 2%;
}
.derechos{
  padding-left: 0%;
  padding-right: 20%;
}
.footer-style {
    background-color: #04204e;
}
.fa {
  padding: 15px;
  font-size: 25px;
  width: 50px;
  text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.footer-derechos{
	font-size: 15px;
	padding: 10px;
  font-weight: lighter;
  text-align: center;
}
@media (min-width:900px){
.vl {
  border-left: 3px solid white;
  height: 150px;
}
}
    footer {
        color: white;
    }

    footer h3 {
        font-weight: 800;
    }

    footer .footer-above {
        background-color: #2C3E50;
    }

    footer .footer-below {
        background-color: #233140;
    }